<div class="conteiner">
  <div class="texto">
    <h1 class="titulo">Projetos pessoais</h1>
  </div>
  <div class="projetos">

      <div class="list">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
      </div>
      <div class="list">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
      </div>
      <div class="list">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
        <img src="../../../assets/istockphoto-1272324324-1024x1024.jpg">
      </div>

  </div>

</div>
