<div class="Habilidades">

  <ul>
    <div class="texto">
      <h1 class="titulo">Habilidades tecnicas</h1>
    </div>
    <li>
      <label for="htmlcss">html e css</label>
      <div id="htmlcss" class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-success" style="width: 65%" >65%</div>
      </div>
    </li>

    <li>
      <label for="js">java script</label>
      <div id="js" class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-success" style="width: 65%" >65%</div>
      </div>
    </li>
    <li>
      <label for="angular">angular</label>
      <div id="ts" class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar bg-success " style="width: 60%">60%</div>
      </div>
    </li>
    <li>
      <label for="ts">typescript</label>
      <div id="ts" class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 55%">55%</div>
      </div>
    </li>
    <li>
      <label for="react">react</label>
      <div id="react" class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar " style="width: 50%">50%</div>
      </div>
    </li>




  </ul>

</div>
