<div class="container">
  <div class="text">
    <h1 class="titulo">sobre mim</h1>
    <p class="paragrafo">Meus nome é Matheus Machado Faccin faço o curso de ciência da computação
      desde fevereiro de 2021 e comecei a estudar programação web em 2022 e desde então tem sido o
      meu foco porque eu tenho uma certa facilidade. Meu sonho é poder viver da programação
    </p>
    <div class="habilidades">
      <div class="lista-habilidades">
        <app-sobre-habilidades></app-sobre-habilidades>
      </div>
      <div class="lista-habilidades">
        <app-sobre-profissional class="lista-profissional"></app-sobre-profissional>
      </div>
    </div>
  </div>

</div>
