
<div class="corpo">


    <div class="texto">
      <h1 class="titulo">{{titulo}}</h1>
      <p class="paragrafo"  >{{paragrafo}}</p>


    </div>


    <div class="imagens">
        <img class="img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg">
        <img class="img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg">
        <img class="img" src="https://raw.githubusercontent.com/devicons/devicon/1119b9f84c0290e0f0b38982099a2bd027a48bf1/icons/angularjs/angularjs-original.svg">
        <img class="img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
        <img class="img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
        <img id="react" class="img" src="../../../assets/React-icon.svg">
    </div>



</div>
